@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* 100% = 16px */
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 1.2rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

footer {
  background-image: url("../multimedia/footer-shape.jpg");
  background-repeat: no-repeat;
}
footer p {
  color: black;
  text-align: center;
  font-weight: bold;
}
footer .social-media-container a {
  padding: 0rem 1.5rem;
  text-decoration: none;
}

/* Colors */
/* Colors */
/* Estilos contenedores de contenidos */
.recommendation, .languages-items {
  border-bottom: 5px solid #D3E0EA;
}

/* Estilos links */
.languages-items a, main a:visited, header nav a:visited, header nav a {
  text-decoration: none;
  color: inherit;
}

header {
  overflow: hidden;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
header nav a {
  font-size: 1.1rem;
  text-transform: uppercase;
}
header nav a img {
  width: 3rem;
}

/* Colors */
/* Colors */
/* Estilos contenedores de contenidos */
.recommendation, .languages-items {
  border-bottom: 5px solid #D3E0EA;
}

/* Estilos links */
.languages-items a, main a:visited, header nav a, header nav a:visited {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: #e9e7e7;
}
main .first-section {
  background-color: #D3E0EA;
  font-size: 1rem;
}
main .first-section .first-section-img {
  max-height: 300px;
}
main h1 {
  font-size: 2rem;
  color: #2C5364;
  text-align: center;
  font-weight: bold;
}
main h2 {
  font-size: 1.8rem;
  color: #2C5364;
  text-align: center;
  font-weight: normal;
}
main p {
  color: black;
  text-align: justify;
  font-weight: normal;
}
/* Colors */
.contact-container a {
  text-decoration: none;
}
.contact-container iframe {
  max-width: 90vw;
}

/* Estilos Form */
.form-container {
  padding: 1.2em 1.2rem;
}
.form-container form {
  border: 2px solid #23687b;
  border-radius: 0.4rem;
  /* Tablet, celular horizontal y Desktop */
}
@media only screen and (min-width: 1000px) {
  .form-container form {
    width: 50%;
  }
}
.form-container form .form-div {
  padding: 0.5em 0.5rem;
}
.form-container form .form-div p {
  padding: 0;
}
.form-container form .form-div .input-text {
  display: block;
  width: 99%;
  /* Tablet, celular horizontal y Desktop */
}
@media only screen and (min-width: 600px) {
  .form-container form .form-div .input-text {
    width: 65%;
  }
}
.form-container form .form-div .checkbox-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form-container form .form-div .checkbox-options .checkbox-item {
  padding: 0.5em 0.5rem;
}
.form-container form .form-div textarea {
  width: 99%;
}

/* Colors */
.language-tables {
  font-size: 1rem;
  padding: 1.875em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.language-tables .language-table-item {
  max-width: 90vw;
  padding: 2em 0rem;
  /* Tablet, celular horizontal y Desktop */
}
@media only screen and (min-width: 600px) {
  .language-tables .language-table-item {
    width: 60%;
  }
}
.language-tables .language-table-item table, .language-tables .language-table-item th, .language-tables .language-table-item td {
  border: 1px double grey;
  border-collapse: collapse;
  padding: 0.5em 0.5rem;
  color: black;
  text-align: center;
  font-weight: normal;
}
.language-tables .language-table-item table {
  width: 100%;
}
.language-tables .language-table-item table .primary-row {
  background-color: #23687b;
}
.language-tables .language-table-item table .secondary-row {
  background-color: #3090ab;
}
.language-tables .language-table-item table .level {
  background-color: #80a5c2;
}
.language-tables .language-table-item table td {
  background-color: #D3E0EA;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* Estilo Gallery Tablet horizontal y Desktop */
}
@media only screen and (min-width: 600px) {
  .gallery-container {
    padding-top: 2.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.gallery-container .gallery-item {
  max-width: 85vw;
  margin: 2em 0rem;
  overflow: hidden;
}
.gallery-container .gallery-item:hover .gallery-img {
  transform: scale(1.3);
  transition: transform 0.8s ease;
}
.gallery-container .gallery-item .gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 600px) {
  .gallery-container .gallery-item .gallery-img {
    width: 388px;
    height: 295px;
  }
}

/* Colors */
/* Colors */
/* Estilos contenedores de contenidos */
.recommendation, .languages-items {
  border-bottom: 5px solid #D3E0EA;
}

/* Estilos links */
.languages-items a, header nav a, header nav a:visited, main a:visited {
  text-decoration: none;
  color: inherit;
}

/* Animación banderas */
.flag {
  transition: all 0.2s ease-in-out;
}
.flag:hover {
  transform: scale(1.2);
}

.languages-items {
  padding: 2rem;
  /* Animación links idiomas */
  /* Agregando emojis banderas con content */
}
.languages-items a {
  position: relative;
}
.languages-items a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.languages-items a:hover::before {
  transform: scaleX(1);
}
.languages-items .uk:focus::after {
  content: "🇬🇧";
}
@media only screen and (min-width: 1000px) {
  .languages-items .uk:hover::after {
    content: "🇬🇧";
  }
}
.languages-items .france:focus::after {
  content: "🇫🇷";
}
@media only screen and (min-width: 1000px) {
  .languages-items .france:hover::after {
    content: "🇫🇷";
  }
}
.languages-items .germany:focus::after {
  content: "🇩🇪";
}
@media only screen and (min-width: 1000px) {
  .languages-items .germany:hover::after {
    content: "🇩🇪";
  }
}
.languages-items .japan:focus::after {
  content: "🇯🇵";
}
@media only screen and (min-width: 1000px) {
  .languages-items .japan:hover::after {
    content: "🇯🇵";
  }
}
.languages-items .skorea:focus::after {
  content: "🇰🇷";
}
@media only screen and (min-width: 1000px) {
  .languages-items .skorea:hover::after {
    content: "🇰🇷";
  }
}

/* Colors */
/* Colors */
/* Estilos contenedores de contenidos */
.recommendation, .languages-items {
  border-bottom: 5px solid #D3E0EA;
}

/* Estilos links */
header nav a, header nav a:visited, main a:visited, .languages-items a {
  text-decoration: none;
  color: inherit;
}

/* Colors */
/* Cambio de color del toggler icon de Bootstrap */
.navbar-override .toggler {
  border: 1px solid #F6F5F5;
}
.navbar-override .toggler .menu-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28246, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-override .header-links-container {
  flex-basis: 100% !important;
  justify-content: center;
}
.navbar-override .header-links-container .ul-nav {
  align-items: center;
  /* Cambio color de texto en navbar */
}
.navbar-override .header-links-container .ul-nav .header-link {
  color: #F6F5F5 !important;
  font-weight: 300 !important;
}

/*# sourceMappingURL=style.css.map */
