@import '../base/mixins';

footer {
    background-image: url('../multimedia/footer-shape.jpg');
    background-repeat: no-repeat;
    p {
        @include text(black, center, bold);
    }
    .social-media-container {
        a {
            padding: 0rem 1.5rem;
        }
    }
}