@import '../base/variables';
@import '../base/extends';

header {
    overflow: hidden;
    background: $header-bg;
    nav {
        a {
            @extend%links;
            font-size: 1.1rem;
            text-transform: uppercase;
            &:visited {
                @extend%links;
            }
            img {
                width: 3rem;
            }
        }
    }
}