@import '../base/variables';
@import '../base/maps';

header {
    overflow: hidden;
    background: $header-bg;
    nav {
        a {
            text-decoration: map-get($links, decoration);
            color: map-get($links, font-color);
            font-size: 1.1rem;
            text-transform: uppercase;
            &:visited {
                text-decoration: map-get($links, decoration);
                color: map-get($links, font-color);
            }
            img {
                width: 3rem;
            }
        }
    }
}