@import '../base/variables';
@import '../base/extends';
@import '../base/mixins';

main {
    background-color: $main-bg;
    .first-section {
        background-color: $first-section-bg;
        font-size: 1rem;
        .first-section-img {
            max-height: 300px;
        }
    }
    h1 {
        font-size: 2rem;
        @include text($h-color, center, bold);
    }
    h2 {
        font-size: 1.8rem;
        @include text($h-color, center, normal);
    }
    p {
        @include text(black, justify, normal);
    }
    a {
        &:visited {
            @extend%links;
        }
    }
}