@import '../base/variables';
@import '../base/maps';
@import '../base/mixins';

main {
    background-color: $main-bg;
    .first-section {
        background-color: $first-section-bg;
        font-size: 1rem;
        .first-section-img {
            max-height: 300px;
        }
    }
    h1 {
        font-size: 2rem;
        @include text($h-color, center, bold);
    }
    h2 {
        font-size: 1.8rem;
        @include text($h-color, center, normal);
    }
    p {
        @include text(black, justify, normal);
    }
    a {
        &:visited {
            text-decoration: map-get($links, decoration);
            color: map-get($links, font-color);
        }
    }
}