/* Colors */

$header-bg: linear-gradient(to right, #2C5364, #203A43, #0F2027);
$header-font: #F6F5F5;
$main-bg: hsla(0, 5%, 91%);
$first-section-bg: #D3E0EA;
$table-primary-row: #23687b;
$table-secondary-row: #3090ab;
$table-level: #80a5c2;